In [1]:
#1 get tools first

In [2]:
import pymysql
import sqlalchemy
from sqlalchemy import inspect
from sqlalchemy import create_engine
import pandas as pd

# create connection string 
#user name for mysql
-password for mysql
-schema (bank)
-port (local host)
- dialect pymysql - allows us to understand sql
-driver sqlalchemy - allows us to reach the database





+sql query to get tables, fields

In [3]:
import getpass # optional - to anonymise the password

In [4]:
password=getpass.getpass()

········

In [5]:
#4 set up connection string
#and test password

In [6]:
connection_string='mysql+pymysql://root:'+password+'@127.0.0.1/bank'

#'dialect + driver ://username:password@port/schema'

engine=create_engine(connection_string)

# get data from sql

In [7]:
df=pd.read_sql_query('''
SELECT l.account_id, l.loan_id, t.trans_id, t.amount as trans_amount,
t.balance, t.k_symbol, l.amount as loan_amount, l.status, l.duration,
l.payments 
from trans t
join loan l
using(account_id)
where status in('A','B')
''',engine)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74364 entries, 0 to 74363
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   account_id    74364 non-null  int64
 1   loan_id       74364 non-null  int64
 2   trans_id      74364 non-null  int64
 3   trans_amount  74364 non-null  float64
 4   balance       74364 non-null  float64
 5   k_symbol      74364 non-null  object
 6   loan_amount   74364 non-null  int64
 7   status        74364 non-null  object
 8   duration      74364 non-null  int64
 9   payments      74364 non-null  float64
dtypes: float64(3), int64(5), object(2)
memory usage: 5.7+ MB

In [9]:
df.describe()

,account_id,loan_id,trans_id,trans_amount,balance,loan_amount,duration,payments
count,74364.000000,74364.000000,7.436400e+04,74364.000000,74364.000000,74364.000000,74364.000000,74364.000000
mean,6229.993048,6257.281655,2.190661e+06,7832.649125,46022.153061,102745.132645,23.942230,4356.580832
std,3212.024954,667.591089,1.112118e+06,11729.040391,25439.948570,74749.275498,12.155783,2205.840892
min,2.000000,4959.000000,2.760000e+02,0.000000,-14137.200000,4980.000000,12.000000,319.000000
25%,3674.000000,5723.000000,1.296293e+06,144.300000,27675.125000,46320.000000,12.000000,2569.000000
50%,6456.000000,6312.500000,2.378788e+06,3000.000000,40965.150000,86184.000000,24.000000,4051.000000
75%,8982.000000,6808.000000,3.292407e+06,9868.500000,60098.550000,140400.000000,36.000000,6315.000000
max,11362.000000,7308.000000,3.682839e+06,87300.000000,193910.000000,464520.000000,60.000000,9736.000000

In [10]:
df['k_symbol'].unique()

array(['', 'UROK', ' ', 'SIPO', 'SLUZBY', 'POJISTNE', 'UVER',
       'SANKC. UROK'], dtype=object)

In [11]:
df['k_symbol'].value_counts()

               35953
UROK           14646
SLUZBY         11306
SIPO            5081
                3018
UVER            2893
POJISTNE        1159
SANKC. UROK      308
Name: k_symbol, dtype: int64

In [12]:
df['status'].value_counts()

A    64599
B     9765
Name: status, dtype: int64

In [13]:
# drop k_symbol 
df=df.drop(['k_symbol'], axis=1)

# set target label and features

In [15]:
y=df['status']
 # set label as y

In [16]:
X=df.drop(['status'],axis=1)

# use get dummies to encode any strings

In [17]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74364 entries, 0 to 74363
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   account_id    74364 non-null  int64
 1   loan_id       74364 non-null  int64
 2   trans_id      74364 non-null  int64
 3   trans_amount  74364 non-null  float64
 4   balance       74364 non-null  float64
 5   loan_amount   74364 non-null  int64
 6   duration      74364 non-null  int64
 7   payments      74364 non-null  float64
dtypes: float64(3), int64(5)
memory usage: 4.5 MB

# optional - rescale

# get model - logistic regression

In [18]:
from sklearn.linear_model import LogisticRegression

In [28]:
logreg=LogisticRegression(max_iter=300)

# train test split

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=40)

# run model

In [29]:
clf=logreg.fit(X_train,y_train)

# evaluate model

In [14]:
# this is for Andy specifically 
df.to_csv('loan_trans.csv',index=False)